[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "themes/svbhack"]
	path = themes/svbhack
	url = https://github.com/StephenPCG/pelican-svbhack.git
[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/StephenPCG/pelican-octopress-theme.git
